# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.ruff_cache/

# Env / secrets
.env
.env.*

# Local data dir for dev
data/
*.apkg
*.mp3

# uv
.venv/

# Editors
.vscode/
.idea/
*.swp

# Render
.render/

# frontend
frontend/node_modules/
frontend/dist/
